<nav class="site-header sticky-top py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="/~thomas/conferenceapp/79/">Home</a>
        <a class="py-2 d-none d-md-inline-block" href="/~thomas/conferenceapp/79/conference">Conference</a>
        <a class="py-2 d-none d-md-inline-block" href="/~thomas/conferenceapp/79/users">User admin</a>
    </div>
</nav>