<% include partials/head.ejs %>
<% include partials/nav.ejs%>

<div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1 class="h1">Error</h1>
            <a  href="/"> Go away!</a>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<% include partials/foot.ejs %>