<% include ../partials/head.ejs %>
<% include ../partials/nav.ejs %>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal"><%= title %></h1>
        <p class="lead font-weight-normal"><%= description %></p>
        <a class="btn btn-outline-secondary" href="<%= link  %>"><%= add %></a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="row">
    <% users.forEach(function(user) { %>
        <div class="card m-5" >
            <div class="card-header"><%= user %></div>
            <div class="card-body">lorum ipsum</div>
        </div>
    <% });%>
</div>

<% include ../partials/foot.ejs %>

